import os
CURRENT_PATH = os.path.abspath(os.path.dirname(__file__))

######################
# DionaeaFR settings #
######################
# Pid file location
PID_PATH = '/var/run/dionaeafr.pid'

# Database settings from Dionaea
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',   # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '/var/lib/dionaea/logsql.sqlite',
        'USER': '',                               # Not used with sqlite3.
        'PASSWORD': '',                           # Not used with sqlite3.
        'HOST': '',                               # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                               # Set to empty string for default. Not used with sqlite3.
    },
    'OPTIONS': {
        'timeout': 60,
    }
}

# GeoIP settings for IPv4 and IPv6 support
# Databases can be downloaded from http://dev.maxmind.com/geoip/legacy/geolite/
GEOIP_COUNTRY_IPV4 = os.path.join(CURRENT_PATH, 'static', 'GeoIP.dat')
GEOIP_COUNTRY_IPV6 = os.path.join(CURRENT_PATH, 'static', 'GeoIPv6.dat')
GEOIP_CITY_IPV4 = os.path.join(CURRENT_PATH, 'static', 'GeoLiteCity.dat')
GEOIP_CITY_IPV6 = os.path.join(CURRENT_PATH, 'static', 'GeoLiteCityv6.dat')

# How many days (going backwards) worth of results to show
RESULTS_DAYS = 14

# Virus scanner for virustotal
ANTIVIRUS_VIRUSTOTAL = 'Sophos'

# Reserved IP addresses taken from http://en.wikipedia.org/wiki/Reserved_IP_addresses
# These should/could be filtered from our system has they should never access the system
# Filtered IP's can be given in IPv4 CIDR format or IPv6
RESERVED_IP = (
    # IPv4 reserved space
    #'0.0.0.0/8',               # Used for broadcast messages to the current ("this") (Disabled because of IPv6 bug, reported)
    '10.0.0.0/8',               # Used for local communications within a private network
    '100.64.0.0/10',            # Used for communications between a service provider and its subscribers when using a Carrier-grade NAT
    '127.0.0.0/8',              # Used for loopback addresses to the local host
    '169.254.0.0/16',           # Used for link-local addresses between two hosts on a single link when no IP address is otherwise specified
    '172.16.0.0/12',            # Used for local communications within a private network
    '192.0.0.0/24',             # Used for the DS-Lite transition mechanism
    '192.0.2.0/24',             # Assigned as "TEST-NET"
    '192.88.99.0/24',           # Used by 6to4 anycast relay
    '192.168.0.0/16',           # Used for local communications within a private network
    '198.15.0.0/15',            # Used for testing of inter-network communications between two separate subnets
    '198.51.100.0/24',          # Assigned as "TEST-NET-2"
    '203.0.113.0/24',           # Assigned as "TEST-NET-3"
    '224.0.0.0/4',              # Reserved for multicast assignments, 233.252.0.0/24 is assigned as "MCAST-TEST-NET"
    '240.0.0.0/4',              # Reserved for future use
    '255.255.255.255/32'        # Reserved for the "limited broadcast" destination address
    # IPv6 reserved space
    '::/128'                    # Unspecified address
    '::1/128'                   # loopback address to the local host.
    #'::ffff:0:0/96'            # IPv4 mapped addresses (Disabled and redone reserved IPv4 in a mapped IPv6 space)
    '100::/64'                  # Discard Prefix RFC 6666
    #'64:ff9b::/96'              # IPv4/IPv6 translation (RFC 6052)
    '2001::/32'                 # Teredo tunneling
    '2001:10::/28'              # Deprecated (previously ORCHID)
    '2001:20::/28'              # ORCHIDv2
    '2001:db8::/32'             # Addresses used in documentation
    #'2002::/16'                 # 6to4
    'fc00::/7'                  # Unique local address
    'fe80::/10'                 # Link-local address
    'ff00::/8'                  # Multicast
    # Inside mapped IPv4 space this is still reserved (BUGGY AS HELL ATM)
    #'::ffff:0.0.0.0/8',         # Used for broadcast messages to the current ("this") (Disabled because of IPv6 bug, reported)
    #'::ffff:10.0.0.0/8',        # Used for local communications within a private network
    #'::ffff:100.64.0.0/10',     # Used for communications between a service provider and its subscribers when using a Carrier-grade NAT
    #'::ffff:127.0.0.0/8',       # Used for loopback addresses to the local host
    #'::ffff:169.254.0.0/16',    # Used for link-local addresses between two hosts on a single link when no IP address is otherwise specified
    #'::ffff:172.16.0.0/12',     # Used for local communications within a private network
    #'::ffff:192.0.0.0/24',      # Used for the DS-Lite transition mechanism
    #'::ffff:192.0.2.0/24',      # Assigned as "TEST-NET"
    #'::ffff:192.88.99.0/24',    # Used by 6to4 anycast relay
    #'::ffff:192.168.0.0/16',    # Used for local communications within a private network
    #'::ffff:198.15.0.0/15',     # Used for testing of inter-network communications between two separate subnets
    #'::ffff:198.51.100.0/24',   # Assigned as "TEST-NET-2"
    #'::ffff:203.0.113.0/24',    # Assigned as "TEST-NET-3"
    #'::ffff:224.0.0.0/4',       # Reserved for multicast assignments, 233.252.0.0/24 is assigned as "MCAST-TEST-NET"
    #'::ffff:240.0.0.0/4',       # Reserved for future use
    #'::ffff:255.255.255.255/32' # Reserved for the "limited broadcast" destination address
)

###################
# Django settings #
###################
# Debug modes
DEBUG = True
TEMPLATE_DEBUG = DEBUG
TEST_RUNNER = 'django.test.runner.DiscoverRunner'

# Admin settings
ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)
MANAGERS = ADMINS

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'o*w2sbrhS_LKSQwx_dmlslsdmcx,c,k!(el0^qx5dljbv6eyjwx)(76^wppdjrrxnj%wcny3h2r'

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
DATETIME_FORMAT = 'd-m-Y H:i:s'
TIME_ZONE = 'Etc/UTC'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

# The ID, as an integer, of the current site in the django_site database table
SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale.
USE_L10N = True

# If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = True

# A string representing the full Python import path to your root URLconf
ROOT_URLCONF = 'DionaeaFR.urls'

# Python dotted path to the WSGI application used by Django's runserver.
WSGI_APPLICATION = 'DionaeaFR.wsgi.application'

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
#MEDIA_ROOT = os.path.join(CURRENT_PATH, 'media')

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
#MEDIA_URL = '/media/'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = os.path.abspath(os.path.join(os.path.join(CURRENT_PATH, os.pardir), 'static'))

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/static/'

# Additional locations of static files
STATICFILES_DIRS = (
    os.path.join(CURRENT_PATH, 'static'),
)

# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
    'compressor.finders.CompressorFinder',
)

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
    # 'django.template.loaders.eggs.Loader',
)

TEMPLATE_DIRS = (
    os.path.join(CURRENT_PATH, 'Templates'),
)

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.core.context_processors.request',
    'django.core.context_processors.static',
    'django.contrib.messages.context_processors.messages',
    'django.contrib.auth.context_processors.auth',
    'Web.context_processors.expose_extra_settings_keys',
)
MIDDLEWARE_CLASSES = (
    'django.middleware.gzip.GZipMiddleware',
    'htmlmin.middleware.HtmlMinifyMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
    'pagination.middleware.PaginationMiddleware',
)

# Minimizers and compressors
HTML_MINIFY = False

COMPRESS_PRECOMPILERS = (
    ('text/less', 'lessc {infile} {outfile}'),
)

# A tuple of IP addresses, as strings, that see debug comments, when DEBUG
# is True and receive X Headers in admindocs if XViewMiddleware is installed
INTERNAL_IPS = ('127.0.0.1',)

# A tuple of strings designating all applications that are enabled in this Django installation
INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'compressor',
    'django_tables2',
    'django_tables2_simplefilter',
    'pagination',
    'django.contrib.humanize',
    'Web',
)

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error when DEBUG=False.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}
